
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body, h1, p {
    font-family: Montserrat, sans-serif;
    line-height: 1.6; 
    word-spacing: 2px; 
}
body, section {
    margin: 0;
    padding: 0;
}

/* Footer styles: background color, text alignment, and spacing */
footer {
    background-color: #6B9FB2;
    color: white;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1px; 
    margin: 0 auto;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .footer-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
  }
  .footer-contact-btn {
    background-color: #96CCE0;
    border-color:  #29444e;
    border-style:  solid;
    border-width: 5px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px 0;
    text-transform: uppercase; 
  }
  .homepagepic2{
    width: 30vw;
    border-radius: 10px;
  }

  /* Cookies message position and styling */
  .cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 9999; 
}
.cookies-message button{
    width: 10em;
    height: 5em;
    background-color: #E8DCE2;
    border-radius: 0%;
}
  
/* Hover effect for the footer contact button */
  .footer-contact-btn:hover {
    background-color: #29444e;
  }

  /* Footer social icons layout and size */
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  .footer-social img {
    width: 30px;
    height: auto;
  }  
header {
    background-color: #6B9FB2;
    padding: 0%;
    text-align: center;
}

/* Form container styling */
#form{
    width: 90%; 
    max-width: 600px; 
    height: 600px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

}
.main{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.title-type-1{
    font-size: 2.5rem;
}
.contact1{
    display: flex;
    flex-direction: column;
}
.contact2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-img{
    width: 50%;
    margin-bottom: 20%;
}

/* Homepic section styling */
.homepic-section{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 60%;
    z-index: 9998;
    top: 0;
    left: 0;
    position: relative;
}
.article1{
    border-radius: 10px;
    text-align: center;
    background-color:#6B9FB2;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
    z-index: 9999;
    top: -80px;
    left: 10%;
    position: relative;
}

/* Adjust article styling for smaller screens */
@media (max-width: 1200px) {
    .article1{
        border-radius: 10px;
        text-align: center;
        background-color:#6B9FB2;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30%;
        z-index: 9999;
        top: -80px;
        left: 10%;
        position: relative;
    }
}

/* Label and input styling */
label{
    margin-top: 10px;
}
input{
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #DAF5FF;
}

textarea{
    border-radius: 10px;
    background-color: #DAF5FF;
}

.pink-background{
    width: 100%;
    height: 100%;
    background-color: #E8DCE2;
    display: flex;
    justify-content: center;
}
#buttons li {
    width: 45%;
    list-style: none;
}

/* Navbar styling */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;  
    padding: 30px 20px;
}
nav img{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    padding-left: 10px;
}
nav ul li a:hover {
    background-color: #395a65;
    color: #ffffff; 
}
nav ul li.active {
    background-color: #395a65;  
}

.full-width-img {
    width: 100%;             
    height: 300px;              
    object-fit: cover;        
    display: block;            
    padding: 0;                
    position: relative;
}

a{text-decoration: none;}
/* Changing color on hover */
a:hover {
    color: #09324d; 
  }
  aside a:visited {
    color: purple;
  }
button img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px; 
}

button:hover {
    background-color: #395a65;
    color: white;
}

h1 {
    text-align: center;
    color: #333;
    letter-spacing: 1px; 
    text-indent: 20px; 
    word-spacing: 5px; 
}

/* Paragraphs with improved readability */
p {
    margin: 20px;
    text-indent: 20px; 
    line-height: 1.8; 
    text-align: justify;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
p::first-letter {
    font-size: 1.2em;}


p > a:hover {
    font-weight: bold; 
    font-size: 20px;
    transition: transform 0.2s ease, font-weight 0.2s ease; 
  }
  
p > a:active {
    font-weight: bold; 
}

.mental-illness {
    font-size: 18px;
    font-weight: bold;
}
  


/* Style for list of sections */
ul, li {
    list-style-type: none;
    padding: 0;
}

/* Buttons styling */
li {
    display: flex;
    justify-content: center;
}
.submit{
    width: 30%;
    height: 40px;
    background-color: #E096B8;
    text-transform: uppercase;
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #buttons li {
        width: 100%; 
    }

    .right-img {
        float: none; 
        margin: 20px 0; 
        width: 100%;
        height: auto;
    }

    button {
        width: 100%; 
    }

    button img {
        width: 80px;
        height: 80px;
    }  
    /* Making navbar vertical */
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;  
    }

    nav ul li {
        margin: 10px 0;  
        width: 100%;     
    }

    nav ul li a {
        display: block;
        text-align: center;
        padding: 15px;
        width: 100%;  
        color: black;
        font-size: 1.1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    
    /* Adjust logo placement */
    nav  img {
       padding: 0%;
    }
    
    .article1 {
        width: 100%;  
        max-width: 200px;  
        margin: 10px auto 5px 10px;  
        font-size: 1rem; 
        padding: 10px;
    }
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 40px;
    margin: 0;
  }
  
  #buttons li {
    flex: 1 1 20%;
  }
  
  .button {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #96CCE0;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #395a65;
  }
  
  .button img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  


  .aside-button1 {
    display: block;
    width: 100%;  
    max-width: 200px;
    font-size: 0.9rem;
    padding: 10px;
    margin: 20px auto 10px 15px; 
    text-align: center;
    text-decoration: none;
    background-color: #96CCE0;
    color: black; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px; 
}

.aside-button1:hover {
    background-color: #016934;
}


/* Center the table inside the section */
.table {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    background-color: white; 
}

.table th, .table td {
    padding: 15px; 
    text-align: left; 
    border: 1px solid black;
}

.table > table > tr > th {
    color: black; 
    text-transform: uppercase; 
}

.table tr:nth-child(odd) td {
    background-color: #FFF; 
}

.table tr:nth-child(even) td {
    background-color: #CFF; 
}

.education-bg {
    background: linear-gradient(to bottom,  #6B9FB2 , #ffffff);
    padding: 5%;
}